blib/
Makefile
Makefile.old
MYMETA.yml
MYMETA.json
pm_to_blib
Build
Build.bat
_build/
MANIFEST
MANIFEST.bak
MANIFEST.SKIP.bak
META.yml
META.json
SIGNATURE
.idea/
excludes/
chklinks-*/
chklinks-*.tar*
